* {
    margin: auto;
    width: auto;
    padding: 0;
}

html {
    background-color: black;
    font-family: Verdana;
    color: white;
}

#header {
    

}

#header p {
    font-weight: normal;
    font-size: 50px;
    font-family: Verdana;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.copyright {
    text-align: right;
    color: gray;
}

.download {
    color: aquamarine;
    font-size: 16px;
}