* {
    margin: auto;
    padding: 0;
}

html {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.download {
    color: aquamarine;
    font-size: 16px;
    font-weight: bold;
}

/* HEADER */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header p {
    font-weight: normal;
    font-size: 50px;
    padding-top: 32px;
}

#header .download {
    padding: 32px;
    text-decoration: underline;
}

/* GUIDE */

#guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p1 {
    font-size: 42px;
    font-weight: 300;
    padding: 16px;
}

.p2, .copyright {
    font-size: 21px;
    color: gray;
    padding: 16px;
}

/* FOOTER */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#footer .phone {
    padding: 24px;
}

#footer .download {
    padding: 22px;
}

/* Alignment code incorrect? */

.copyright {
    text-align: right;
    color: gray;
    margin-left: auto;
    width: 130%;
}